@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        @Microsoft.Web.Helpers.Gravatar.GetHtml("john@contoso.com")
        @Microsoft.Web.Helpers.Gravatar.GetHtml("john@contoso.com", 40, "wavatar")
    </div>
</body>
</html>